<!DOCTYPE html>
<html lang="<%- htmlWebpackPlugin.options.environment.locale %>" env="<%- htmlWebpackPlugin.options.environment.name %>" class="app">

    <head>

        <!-- Technical metadata -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
        <base href="<%- htmlWebpackPlugin.options.environment.appBaseUrl %>">

        <!-- Crawler metadata -->
        <meta name="robots" content="noindex,nofollow">

        <!-- Content metadata -->
        <title>Mover</title>
        <meta name="description" content="Modernize your logistics with Mover.">

        <!-- Standard integration metadata -->
        <link rel="icon" href="/resources/themes/default/integration/standard/favicon.png" type="image/png">
        <link rel="mask-icon" href="/resources/themes/default/integration/standard/icon-mask.svg" color="#0747a6">
        <link rel="manifest" href="/resources/themes/default/integration/standard/manifest.json">
        <meta name="theme-color" content="#0747a6">
        <meta name="application-name" content="Mover">

        <!-- Apple specific integration metadata -->
        <link rel="apple-touch-icon" href="/resources/themes/default/integration/apple/icon.png">
        <meta name="apple-mobile-web-app-title" content="Mover">

        <!-- Google specific integration metadata -->
        <meta name="google" content="notranslate">

        <!-- Microsoft specific integration metadata -->
        <meta name="msapplication-config" content="/resources/themes/default/integration/microsoft/browserconfig.xml">
        <meta name="msapplication-navbutton-color" content="#0747a6">

        <!-- Analytics -->
        <% if (htmlWebpackPlugin.options.environment.integrations.googleAnalytics) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%- htmlWebpackPlugin.options.environment.integrations.googleAnalytics.id %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){ dataLayer.push(arguments); }
            gtag("js", new Date());
            gtag("config", "<%- htmlWebpackPlugin.options.environment.integrations.googleAnalytics.id %>");
        </script>
        <% } %>

        <!-- Google Maps -->
        <%if (htmlWebpackPlugin.options.environment.integrations.googleMaps) { %>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%- htmlWebpackPlugin.options.environment.integrations.googleMaps.key %>&libraries=drawing,geometry"></script>
        <% } %>

        <!-- Injected content -->

    </head>

    <body context="app" surface="base">

        <!-- App -->
        <main aurelia-app="index">

            <!-- Splash -->
            <div class="splash">

                <style>

                    html,
                    body
                    {
                        margin: 0;
                    }

                    .splash
                    {
                        position: fixed;
                        height: 100vh;
                        width: 100vw;
                        background-color: #fbfbfb;
                        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 179 100'><path fill='black' fill-rule='evenodd' d='M166.6 66.835l5.375-20a111.594 111.594 0 0 0 2.079-9.222c.544-3.011.815-5.846.815-8.5 0-9.04-2.473-16.153-7.416-21.338C162.508 2.592 155.339 0 145.933 0c-7.233 0-13.805 1.509-19.71 4.52-5.908 3.014-11.152 7.173-15.733 12.476-1.807-5.063-4.823-9.16-9.039-12.297C97.227 1.57 91.742 0 84.994 0 79.207 0 74.052 1.295 69.53 3.887c-4.52 2.595-8.47 5.637-11.845 9.133L60.58 2.168H26.221L0 100h34.36l13.924-51.72c1.565-5.665 3.796-10.035 6.69-13.108 2.894-3.075 6.629-4.611 11.213-4.611 3.494 0 6.116.904 7.865 2.71 1.746 1.81 2.622 4.342 2.622 7.597 0 1.085-.121 2.351-.361 3.797a42.968 42.968 0 0 1-.904 4.159L61.665 100h34.358l13.924-51.72c1.567-5.665 3.8-10.035 6.692-13.108 2.893-3.075 6.629-4.611 11.213-4.611 3.616 0 6.267.904 7.957 2.71 1.685 1.81 2.53 4.342 2.53 7.597 0 1.085-.12 2.351-.361 3.797a42.176 42.176 0 0 1-.905 4.159l-4.773 18.01h-12.13l19.08 32.576 39.167-32.575H166.6z'/></svg>");
                        background-position: 50% calc(50% - 20px);
                        background-repeat: no-repeat;
                        background-size: auto calc(50px + 13vh);
                        opacity: 0.75;
                    }
                </style>

            </div>

        </main>

        <!-- Logging -->
        <% if (htmlWebpackPlugin.options.environment.integrations.sentry) { %>
        <script src="https://browser.sentry-cdn.com/4.6.6/bundle.min.js" crossorigin="anonymous"></script>
        <script>
            Sentry.init({ dsn: "<%- htmlWebpackPlugin.options.environment.integrations.sentry.dsn %>" });
        </script>
        <% } %>

        <!-- Injected content -->

    </body>

</html>
